<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite (0)</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="649a8f">  <td>18/07/03 14:52:15</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AddPost.setUp()[pri:0, instance:com.test.desktop.addpost.AddPost@4a83a74a]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1293680734</td>   <td></td> </tr>
<tr bgcolor="649a8f">  <td>18/07/03 14:52:15</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddPost.navigateToHomePage()[pri:0, instance:com.test.desktop.addpost.AddPost@4a83a74a]">navigateToHomePage</td> 
  <td>main@1293680734</td>   <td></td> </tr>
<tr bgcolor="649a8f">  <td>18/07/03 14:52:18</td>   <td>2612</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddPost.Login()[pri:1, instance:com.test.desktop.addpost.AddPost@4a83a74a]">Login</td> 
  <td>main@1293680734</td>   <td></td> </tr>
</table>
