<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9a81e8">  <td>18/07/05 11:58:34</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUp.SignUp()[pri:1, instance:com.test.desktop.signup.SignUp@248e319b]">SignUp</td> 
  <td>main@572145572</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/07/05 11:58:46</td>   <td>12002</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUp.SignUp()[pri:1, instance:com.test.desktop.signup.SignUp@196a42c3]">SignUp</td> 
  <td>main@572145572</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/07/05 11:58:43</td>   <td>9059</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUp.Verify()[pri:2, instance:com.test.desktop.signup.SignUp@248e319b]">Verify</td> 
  <td>main@572145572</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/07/05 11:58:54</td>   <td>19579</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUp.Verify()[pri:2, instance:com.test.desktop.signup.SignUp@196a42c3]">Verify</td> 
  <td>main@572145572</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/07/05 11:58:43</td>   <td>9181</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUp.getTitle()[pri:3, instance:com.test.desktop.signup.SignUp@248e319b]">getTitle</td> 
  <td>main@572145572</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/07/05 11:58:54</td>   <td>19666</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUp.getTitle()[pri:3, instance:com.test.desktop.signup.SignUp@196a42c3]">getTitle</td> 
  <td>main@572145572</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/07/05 11:58:30</td>   <td>-3879</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUp.navigateToHomePage()[pri:0, instance:com.test.desktop.signup.SignUp@248e319b]">navigateToHomePage</td> 
  <td>main@572145572</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/07/05 11:58:43</td>   <td>9231</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUp.navigateToHomePage()[pri:0, instance:com.test.desktop.signup.SignUp@196a42c3]">navigateToHomePage</td> 
  <td>main@572145572</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/07/05 11:58:30</td>   <td>-3891</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SignUp.setUp()[pri:0, instance:com.test.desktop.signup.SignUp@248e319b]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@572145572</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>18/07/05 11:58:43</td>   <td>9231</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SignUp.setUp()[pri:0, instance:com.test.desktop.signup.SignUp@196a42c3]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@572145572</td>   <td></td> </tr>
</table>
